/* line 11, ../sass/_global.scss */
#apiswf {
  position: absolute;
  top: -10px;
  left: -10px;
}

/* change the overflow to hidden to remove scroll bars and change the cursor variable to none to remove cursor! 
On overflow=hidden, the size of the window is what you get. You won't be able to see anything that's cut off. 
The sizing should work for the screen and cut off any extra. 
*/
/* line 39, ../sass/_global.scss */
body {
  overflow: auto;
  font-family: 'Open Sans', Helvetica;
}
@media (orientation: portrait) {
  /* line 39, ../sass/_global.scss */
  body {
    overflow: hidden;
  }
}

/* line 50, ../sass/_global.scss */
::selection {
  background: transparent;
}

/* line 55, ../sass/_global.scss */
.entirescreen {
  width: 1080px;
  height: 1920px;
  position: relative;
  cursor: none !important;
  -webkit-user-select: none;
  font-family: 'Open Sans', Helvetica;
}

/* line 65, ../sass/_global.scss */
img {
  -webkit-user-select: none;
  pointer-events: none;
  cursor: none;
}

/* line 72, ../sass/_global.scss */
div.usablescreen {
  position: absolute;
  margin-bottom: 210px;
  margin-top: 150px;
  margin-right: 177px;
  margin-left: 177px;
  width: 726px;
  height: 1560px;
  cursor: none;
}

/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on July 17, 2014 */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-semibolditalic-webfont.eot');
  src: url('/fonts/opensans-semibolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-semibolditalic-webfont.woff') format("woff"), url('/fonts/opensans-semibolditalic-webfont.ttf') format("truetype"), url('/fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-lightitalic-webfont.eot');
  src: url('/fonts/opensans-lightitalic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-lightitalic-webfont.woff') format("woff"), url('/fonts/opensans-lightitalic-webfont.ttf') format("truetype"), url('/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format("svg");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-regular-webfont.eot');
  src: url('/fonts/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-regular-webfont.woff') format("woff"), url('/fonts/opensans-regular-webfont.ttf') format("truetype"), url('/fonts/opensans-regular-webfont.svg#open_sansregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('/fonts/opensans-semibold-webfont.eot');
  src: url('/fonts/opensans-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-semibold-webfont.woff') format("woff"), url('/fonts/opensans-semibold-webfont.ttf') format("truetype"), url('/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url('/fonts/opensans-italic-webfont.eot');
  src: url('/fonts/opensans-italic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-italic-webfont.woff') format("woff"), url('/fonts/opensans-italic-webfont.ttf') format("truetype"), url('/fonts/opensans-italic-webfont.svg#open_sansitalic') format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('/fonts/opensans-light-webfont.eot');
  src: url('/fonts/opensans-light-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-light-webfont.woff') format("woff"), url('/fonts/opensans-light-webfont.ttf') format("truetype"), url('/fonts/opensans-light-webfont.svg#open_sanslight') format("svg");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url('/fonts/opensans-extrabolditalic-webfont.eot');
  src: url('/fonts/opensans-extrabolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-extrabolditalic-webfont.woff') format("woff"), url('/fonts/opensans-extrabolditalic-webfont.ttf') format("truetype"), url('/fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format("svg");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'open_sansextrabold';
  src: url('/fonts/opensans-extrabold-webfont.eot');
  src: url('/fonts/opensans-extrabold-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-extrabold-webfont.woff') format("woff"), url('/fonts/opensans-extrabold-webfont.ttf') format("truetype"), url('/fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format("svg");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold_italic';
  src: url('/fonts/opensans-bolditalic-webfont.eot');
  src: url('/fonts/opensans-bolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-bolditalic-webfont.woff') format("woff"), url('/fonts/opensans-bolditalic-webfont.ttf') format("truetype"), url('/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('/fonts/opensans-bold-webfont.eot');
  src: url('/fonts/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-bold-webfont.woff') format("woff"), url('/fonts/opensans-bold-webfont.ttf') format("truetype"), url('/fonts/opensans-bold-webfont.svg#open_sansbold') format("svg");
  font-weight: bold;
  font-style: normal;
}

/* To properly align the shuffle button. Variable shuffle margins is equal to the usable width function */
/* line 21, ../sass/_controls.scss */
div.button-container-ppreff {
  width: 475px;
  height: 93px;
  margin-left: 125.5px;
  margin-right: 125.5px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}

/*The following contains styling on all buttons including size, spacing, and position. */
/* line 33, ../sass/_controls.scss */
div.button-container-ppreff {
  width: 475px;
  height: 93px;
  margin-left: 125.5px;
  margin-right: 125.5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 42, ../sass/_controls.scss */
div.music-buttons-total {
  height: 179px;
  width: 726px;
}

/*div to hold the buttons for spacing reasons and not-a-button to remove typical button features */
/* line 51, ../sass/_controls.scss */
.not-a-button, button.play, button.rewind, button.fastforward, .shuffle-container {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: none;
  font-size: inherit;
  font-family: inherit;
  -webkit-font-smoothing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

/* line 68, ../sass/_controls.scss */
.music-button-container {
  width: 93px;
  height: 93px;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
}

/* line 87, ../sass/_controls.scss */
button.play {
  background-image: url('/components/play-button.png?1405956609');
  background-repeat: no-repeat;
  width: 93px;
  height: 93px;
  position: absolute;
}

/* line 92, ../sass/_controls.scss */
button.rewind {
  background-image: url('/components/previous-button.png?1405609380');
  background-repeat: no-repeat;
  width: 93px;
  height: 93px;
  position: absolute;
}

/* line 97, ../sass/_controls.scss */
button.fastforward {
  background-image: url('/components/next-button.png?1405609530');
  background-repeat: no-repeat;
  width: 93px;
  height: 93px;
  position: absolute;
}

/* line 108, ../sass/_controls.scss */
.shuffle-container {
  width: 34px;
  height: 26px;
  margin-top: 40px;
  margin-bottom: 20px;
  float: right;
  margin-right: 18px;
  background-image: url('/components/shuffle-button-stop.png?1405613305');
}

/*toggle styles for JS */
/* line 124, ../sass/_controls.scss */
.isShuffleOn {
  width: 34px;
  height: 26px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 18px;
  background-image: url('/components/shuffle-button-working.png?1405609896');
}

/* line 134, ../sass/_controls.scss */
button.isPlaying {
  width: 93px;
  height: 93px;
  background-image: url('/components/pause-button.png?1405609470');
}

/* line 20, ../sass/_artwork.scss */
div.color {
  position: absolute;
  top: -0px;
  height: 665px;
  width: 1080px;
  background-color: #4dd0e1;
  z-index: -1;
}

/* line 29, ../sass/_artwork.scss */
.color > img {
  top: 628px;
  position: absolute;
  transform-origin: 50% 0%;
  margin-left: 141px;
}

/* line 37, ../sass/_artwork.scss */
div.main-album-art {
  height: 599px;
  width: 599px;
}

/* line 45, ../sass/_artwork.scss */
.main-album-art > img {
  margin-left: 63.5px;
  margin-right: 63.5px;
}

/* line 50, ../sass/_artwork.scss */
div.main-music-information {
  text-align: center;
  margin-top: 43px;
  margin-bottom: 43px;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

/* line 60, ../sass/_artwork.scss */
.main-music-information > h1 {
  font-size: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: -100px;
  margin-right: -100px;
  position: relative;
  z-index: 200;
  font-family: 'Open Sans';
  font-weight: bold;
  margin-bottom: 4px;
  height: 50px;
}

/* line 76, ../sass/_artwork.scss */
.main-music-information > h2 {
  font-size: 30px;
  margin-bottom: 12px;
}

/* line 81, ../sass/_artwork.scss */
.main-music-information > h6 {
  font-size: 24px;
}

/*Song and playlist information */
/* line 44, ../sass/_playlist.scss */
.playlist {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  width: 105%;
  height: 615px;
  margin-top: 20px;
  border-top: #eaf0f0 1px solid;
  font-size: 20px;
}

/* line 55, ../sass/_playlist.scss */
#overlay {
  display: inline-block;
  position: relative;
}

/* line 60, ../sass/_playlist.scss */
#overlay::after {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  content: " ";
  height: 5%;
  top: 95%;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

/* line 75, ../sass/_playlist.scss */
.song {
  width: 726px;
  height: 110px;
  padding: 0px;
  border-bottom: #eaf0f0 1px solid;
}

/* line 82, ../sass/_playlist.scss */
.song-number {
  text-align: left;
  width: 40px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: -50px;
  z-index: 1;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 8px;
  color: #bfc2c3;
}

/* line 96, ../sass/_playlist.scss */
.song-playing-icon {
  display: inline-block;
  position: relative;
  background-image: url('/components/speaker-icon.png?1405610048');
  background-repeat: no-repeat;
  z-index: 2;
  color: transparent;
}

/* line 105, ../sass/_playlist.scss */
.song-thumbnail {
  height: 70px;
  width: 70px;
  display: inline;
  position: relative;
}

/* line 112, ../sass/_playlist.scss */
.song-thumbnail > img {
  height: 70px;
  width: 70px;
  margin-top: 22px;
  margin-bottom: 22px;
}

/* line 120, ../sass/_playlist.scss */
.song-name-artist-container {
  display: inline-block;
  margin-top: 27px;
  margin-bottom: 27px;
  position: absolute;
  margin-left: 20px;
}

/* line 128, ../sass/_playlist.scss */
.song-name-list {
  margin-top: 16px;
  color: #afb1b2;
  font-size: 17px;
}

/* line 134, ../sass/_playlist.scss */
.artist-name-list {
  color: #424242;
}

/* line 140, ../sass/_playlist.scss */
.song-time {
  color: #959ea3;
  float: right;
  height: 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-right: 12.6px;
}

/* iScroll Plugin Styling */
/* line 157, ../sass/_playlist.scss */
#wrapper {
  position: relative;
  width: 726px;
  height: 615px;
  overflow: hidden;
  /* Prevent native touch events on Windows */
  -ms-touch-action: none;
  /* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Prevent text resize on orientation change, useful for web-apps */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

/* line 184, ../sass/_playlist.scss */
#scroller {
  position: absolute;
  /* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Put the scroller into the HW Compositing layer right from the start */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 198, ../sass/_playlist.scss */
li {
  list-style-type: none;
}
