/* disable/enable text selection css rules: copied from sass/skin/builder/core/base/_common.scss */
/* this creates an all-blank mouse cursor on all elements of the page */
/* line 45, ../sass/_global.scss */
html.touch-screen *, html.touch-screen *:active, html.touch-screen *:hover {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQWFyYjmlZMcQAAAA1JREFUCNdjYGBgYAQAAAYAAl4th88AAAAASUVORK5CYII="), none !important;
}

/*
Any single page, touch-screen client (like Studio) shall hide mouse cursor, body scrollbars, and text selection
(if you need scrollbars in the body, add overflow: auto to a nested div)
Copied from sass/skin/builder/packages/studio/_base.scss
*/
/* line 55, ../sass/_global.scss */
html.touch-screen, html.touch-screen body {
  height: 100%;
  /* this is required to give complete coverage of the screen to the hidden cursor */
  overflow: none;
  /* this hides scrollbars and disables "rubberband" effect when scrolling beyond page limits on Mac OS X */
  /* Solution taken from http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -o-user-select: text;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  /*
     if also you want to support legacy IE, do the following from javascript onload:
        window.onselectstart = function() { return false; }
        window.ondragstart = function() { return false; }
   */
}

/* line 62, ../sass/_global.scss */
::selection {
  background: transparent;
}

/* line 71, ../sass/_global.scss */
#apiswf {
  position: absolute;
  top: -10px;
  left: -10px;
}

/* change the overflow to hidden to remove scroll bars and change the cursor variable to none to remove cursor! 
On overflow=hidden, the size of the window is what you get. You won't be able to see anything that's cut off. 
The sizing should work for the screen and cut off any extra. 
*/
/* line 104, ../sass/_global.scss */
body {
  font-family: 'Open Sans', Helvetica;
}
@media (orientation: portrait) {
  /* line 104, ../sass/_global.scss */
  body {
    overflow: auto;
  }
}
@media (orientation: landscape) {
  /* line 104, ../sass/_global.scss */
  body {
    height: 100%;
    width: 100%;
  }
}
@media (orientation: portrait) {
  /* line 104, ../sass/_global.scss */
  body {
    margin: 0px;
  }
}

/* line 125, ../sass/_global.scss */
::selection {
  background: transparent;
}

/* line 130, ../sass/_global.scss */
.entirescreen {
  font-family: 'Open Sans', Helvetica;
}
@media (orientation: landscape) {
  /* line 130, ../sass/_global.scss */
  .entirescreen {
    height: 100%;
    min-width: 1100px;
    min-height: 600px;
    box-sizing: border-box;
  }
}
@media (orientation: portrait) {
  /* line 130, ../sass/_global.scss */
  .entirescreen {
    position: relative;
    cursor: auto !important;
    -webkit-user-select: none;
    box-sizing: border-box;
  }
}

/* line 158, ../sass/_global.scss */
img {
  -webkit-user-select: none;
  pointer-events: none;
  cursor: auto !important;
}

@media (orientation: portrait) {
  /* line 165, ../sass/_global.scss */
  div.usablescreen {
    margin-bottom: 9.6%;
    margin-top: 9.6%;
    margin-right: auto;
    margin-left: auto;
    width: 67.22%;
    height: 81.26%;
    vertical-align: bottom;
    cursor: auto !important;
    min-width: 450px;
    box-sizing: border-box;
  }
}
@media (orientation: landscape) {
  /* line 165, ../sass/_global.scss */
  div.usablescreen {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 3%;
  }
}

@media (orientation: landscape) {
  /* line 204, ../sass/_global.scss */
  .container1 {
    width: 45%;
    min-width: 475px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }
}

@media (orientation: landscape) {
  /* line 218, ../sass/_global.scss */
  .container2 {
    width: 45%;
    min-width: 475px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-left: 3%;
    overflow: hidden;
  }
}

/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on July 17, 2014 */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-semibolditalic-webfont.eot');
  src: url('/fonts/opensans-semibolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-semibolditalic-webfont.woff') format("woff"), url('/fonts/opensans-semibolditalic-webfont.ttf') format("truetype"), url('/fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-lightitalic-webfont.eot');
  src: url('/fonts/opensans-lightitalic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-lightitalic-webfont.woff') format("woff"), url('/fonts/opensans-lightitalic-webfont.ttf') format("truetype"), url('/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format("svg");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-regular-webfont.eot');
  src: url('/fonts/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-regular-webfont.woff') format("woff"), url('/fonts/opensans-regular-webfont.ttf') format("truetype"), url('/fonts/opensans-regular-webfont.svg#open_sansregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('/fonts/opensans-semibold-webfont.eot');
  src: url('/fonts/opensans-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-semibold-webfont.woff') format("woff"), url('/fonts/opensans-semibold-webfont.ttf') format("truetype"), url('/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url('/fonts/opensans-italic-webfont.eot');
  src: url('/fonts/opensans-italic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-italic-webfont.woff') format("woff"), url('/fonts/opensans-italic-webfont.ttf') format("truetype"), url('/fonts/opensans-italic-webfont.svg#open_sansitalic') format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('/fonts/opensans-light-webfont.eot');
  src: url('/fonts/opensans-light-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-light-webfont.woff') format("woff"), url('/fonts/opensans-light-webfont.ttf') format("truetype"), url('/fonts/opensans-light-webfont.svg#open_sanslight') format("svg");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url('/fonts/opensans-extrabolditalic-webfont.eot');
  src: url('/fonts/opensans-extrabolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-extrabolditalic-webfont.woff') format("woff"), url('/fonts/opensans-extrabolditalic-webfont.ttf') format("truetype"), url('/fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format("svg");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'open_sansextrabold';
  src: url('/fonts/opensans-extrabold-webfont.eot');
  src: url('/fonts/opensans-extrabold-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-extrabold-webfont.woff') format("woff"), url('/fonts/opensans-extrabold-webfont.ttf') format("truetype"), url('/fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format("svg");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold_italic';
  src: url('/fonts/opensans-bolditalic-webfont.eot');
  src: url('/fonts/opensans-bolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-bolditalic-webfont.woff') format("woff"), url('/fonts/opensans-bolditalic-webfont.ttf') format("truetype"), url('/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('/fonts/opensans-bold-webfont.eot');
  src: url('/fonts/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/opensans-bold-webfont.woff') format("woff"), url('/fonts/opensans-bold-webfont.ttf') format("truetype"), url('/fonts/opensans-bold-webfont.svg#open_sansbold') format("svg");
  font-weight: bold;
  font-style: normal;
}

/* To properly align the shuffle button. Variable shuffle margins is equal to the usable width function */
/*The following contains styling on all buttons including size, spacing, and position. */
/* line 27, ../sass/_controls.scss */
div.button-container-ppreff {
  height: 93px;
  width: 65.4%;
}
@media (orientation: landscape) {
  /* line 27, ../sass/_controls.scss */
  div.button-container-ppreff {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
  }
}
@media (orientation: portrait) {
  /* line 27, ../sass/_controls.scss */
  div.button-container-ppreff {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 5.96%;
  }
}

@media (orientation: landscape) {
  /* line 61, ../sass/_controls.scss */
  div.music-buttons-total {
    margin-top: 20px;
    vertical-align: baseline;
  }
}
@media (orientation: portrait) {
  /* line 61, ../sass/_controls.scss */
  div.music-buttons-total {
    height: 12%;
    width: 100%;
  }
}

/*div to hold the buttons for spacing reasons and not-a-button to remove typical button features */
/* line 84, ../sass/_controls.scss */
.not-a-button, .play, button.rewind, button.fastforward, .shuffle-container {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: auto !important;
  font-size: inherit;
  font-family: inherit;
  -webkit-font-smoothing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

/* line 101, ../sass/_controls.scss */
.music-button-container {
  width: 19.5%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
@media (orientation: portrait) {
  /* line 101, ../sass/_controls.scss */
  .music-button-container {
    display: inline-block;
  }
}

/* line 125, ../sass/_controls.scss */
button > svg {
  color: #bfc2c3;
}

/* line 136, ../sass/_controls.scss */
.play .svg1 {
  display: block;
}
/* line 139, ../sass/_controls.scss */
.play .svg2 {
  display: none;
}
/* line 143, ../sass/_controls.scss */
.play.isPlaying .svg1 {
  display: none;
}
/* line 146, ../sass/_controls.scss */
.play.isPlaying .svg2 {
  display: block;
}

@media (orientation: portrait) {
  /* line 194, ../sass/_controls.scss */
  .shuffle-container {
    width: 10%;
    height: 1.667%;
    margin-top: 2.56%;
    margin-bottom: 1.28%;
    float: right;
    margin-right: 2.5%;
  }
}
@media (orientation: landscape) {
  /* line 194, ../sass/_controls.scss */
  .shuffle-container {
    width: 10%;
    margin-right: 45%;
    margin-left: 45%;
    margin-top: 2vh;
  }
}

/*toggle styles for JS */
@media (orientation: portrait) {
  /* line 232, ../sass/_controls.scss */
  .isShuffleOn {
    width: 4.6%;
    height: 1.667%;
    margin-top: 2.56%;
    margin-bottom: 1.28%;
    float: right;
    margin-right: 4.1%;
  }
}
@media (orientation: landscape) {
  /* line 232, ../sass/_controls.scss */
  .isShuffleOn {
    width: 10%;
    margin-right: 45%;
    margin-left: 45%;
    margin-top: 2vh;
  }
}

@media (orientation: portrait) {
  /* line 20, ../sass/_artwork.scss */
  div.color {
    background-color: #4dd0e1;
    position: absolute;
    top: -10%;
    height: 34.63%;
    width: 100%;
    z-index: -1;
  }
}
@media (orientation: landscape) {
  /* line 20, ../sass/_artwork.scss */
  div.color {
    display: none;
  }
}

@media (orientation: landscape) {
  /* line 53, ../sass/_artwork.scss */
  .color > svg {
    display: none;
  }
}
@media (orientation: portrait) {
  /* line 53, ../sass/_artwork.scss */
  .color > svg {
    top: 32.7%;
    position: absolute;
    transform-origin: 50% 0%;
    margin-left: 13.05%;
    width: 73.27%;
    display: none;
  }
}

@media (orientation: portrait) {
  /* line 78, ../sass/_artwork.scss */
  div.main-album-art {
    display: block;
    height: 31.19%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (orientation: landscape) {
  /* line 101, ../sass/_artwork.scss */
  .main-album-art > img {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
  }
}
@media (orientation: portrait) {
  /* line 101, ../sass/_artwork.scss */
  .main-album-art > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 82.5%;
  }
}

/* line 125, ../sass/_artwork.scss */
div.main-music-information {
  text-align: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
@media (orientation: portrait) {
  /* line 125, ../sass/_artwork.scss */
  div.main-music-information {
    margin-top: 2.76%;
    margin-bottom: 2.76%;
  }
}
@media (orientation: landscape) {
  /* line 125, ../sass/_artwork.scss */
  div.main-music-information {
    margin-bottom: 2%;
  }
}

/* line 149, ../sass/_artwork.scss */
.main-music-information > h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  z-index: 200;
  height: 5vh;
}
@media (orientation: portrait) {
  /* line 149, ../sass/_artwork.scss */
  .main-music-information > h1 {
    margin-left: -100px;
    margin-right: -100px;
    font-size: 5.2vw;
    height: 6vw;
  }
}
@media (orientation: landscape) {
  /* line 149, ../sass/_artwork.scss */
  .main-music-information > h1 {
    font-size: 4vh;
  }
}

@media (orientation: landscape) {
  /* line 186, ../sass/_artwork.scss */
  .main-music-information > h2 {
    font-size: 2.5vh;
    margin-bottom: 5px;
  }
}
@media (orientation: portrait) {
  /* line 186, ../sass/_artwork.scss */
  .main-music-information > h2 {
    font-size: 4.1vw;
    margin-bottom: 0.76%;
  }
}

@media (orientation: landscape) {
  /* line 209, ../sass/_artwork.scss */
  .main-music-information > h6 {
    font-size: 2vh;
  }
}
@media (orientation: portrait) {
  /* line 209, ../sass/_artwork.scss */
  .main-music-information > h6 {
    font-size: 3.5vw;
  }
}

/*Song and playlist information */
/* line 45, ../sass/_playlist.scss */
.playlist {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
@media (orientation: portrait) {
  /* line 45, ../sass/_playlist.scss */
  .playlist {
    height: 39.4%;
    margin-top: 0%;
    font-size: 1.28%;
  }
}

/* line 68, ../sass/_playlist.scss */
.playlist_line {
  border-style: solid;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}
@media (orientation: portrait) {
  /* line 68, ../sass/_playlist.scss */
  .playlist_line {
    height: 1px;
    margin-bottom: 0px;
    width: 100%;
  }
}
@media (orientation: landscape) {
  /* line 68, ../sass/_playlist.scss */
  .playlist_line {
    display: none;
  }
}

/* line 97, ../sass/_playlist.scss */
#overlay {
  display: inline-block;
  position: relative;
}
@media (orientation: landscape) {
  /* line 97, ../sass/_playlist.scss */
  #overlay {
    width: 100%;
  }
}

/* line 108, ../sass/_playlist.scss */
#overlay::after {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  content: " ";
  height: 5%;
  top: 95%;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
@media (orientation: landscape) {
  /* line 108, ../sass/_playlist.scss */
  #overlay::after {
    height: 5%;
    top: 95%;
  }
}

/* line 125, ../sass/_playlist.scss */
.song {
  height: 110px;
  padding: 0px;
  border-bottom: 1px solid;
}
@media (orientation: portrait) {
  /* line 125, ../sass/_playlist.scss */
  .song {
    width: 100%;
  }
}
@media (orientation: landscape) {
  /* line 125, ../sass/_playlist.scss */
  .song {
    width: 100%;
  }
}

/* line 144, ../sass/_playlist.scss */
.song-number {
  text-align: left;
  width: 40px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: -50px;
  z-index: 1;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 8px;
}
@media (orientation: portrait) {
  /* line 144, ../sass/_playlist.scss */
  .song-number {
    text-align: left;
    width: 5%;
    height: 20px;
    font-size: 20px;
    display: inline-block;
    position: relative;
    top: -50px;
    z-index: 1;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 1.1%;
    margin-right: 2.47%;
  }
}

/* line 174, ../sass/_playlist.scss */
.song-playing-icon {
  display: inline-block;
  position: relative;
  background-image: url('/img/../img/speaker-icon.svg?1407952352');
  background-repeat: no-repeat;
  z-index: 2;
  color: transparent;
  margin-left: 13px;
  margin-right: 18px;
  width: 17px;
}
@media (orientation: portrait) {
  /* line 174, ../sass/_playlist.scss */
  .song-playing-icon {
    display: inline-block;
    position: relative;
    background-image: url('/img/../img/speaker-icon.svg?1407952352');
    background-repeat: no-repeat;
    z-index: 2;
    color: transparent;
    margin-left: 1.1%;
    margin-right: 2.47%;
    width: 5%;
  }
}

/* line 199, ../sass/_playlist.scss */
.song-thumbnail {
  height: 70px;
  width: 70px;
  display: inline;
  position: relative;
}

/* line 206, ../sass/_playlist.scss */
.song-thumbnail > img {
  height: 70px;
  width: 70px;
  margin-top: 22px;
  margin-bottom: 22px;
}

/* line 214, ../sass/_playlist.scss */
.song-name-artist-container {
  display: inline-block;
  margin-top: 27px;
  margin-bottom: 27px;
  position: absolute;
  margin-left: 20px;
  text-overflow: ellipsis;
}
@media (orientation: portrait) {
  /* line 214, ../sass/_playlist.scss */
  .song-name-artist-container {
    width: 70%;
  }
}
@media (orientation: landscape) {
  /* line 214, ../sass/_playlist.scss */
  .song-name-artist-container {
    width: 70%;
  }
}

/* line 235, ../sass/_playlist.scss */
.song-name-list {
  margin-top: 16px;
  font-size: 17px;
  height: 20px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (orientation: landscape) {
  /* line 235, ../sass/_playlist.scss */
  .song-name-list {
    width: 70%;
  }
}
@media (orientation: portrait) {
  /* line 235, ../sass/_playlist.scss */
  .song-name-list {
    width: 80%;
  }
}

/* line 255, ../sass/_playlist.scss */
.artist-name-list {
  font-size: 20px;
  height: 22px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (orientation: portrait) {
  /* line 255, ../sass/_playlist.scss */
  .artist-name-list {
    width: 80%;
  }
}
@media (orientation: landscape) {
  /* line 255, ../sass/_playlist.scss */
  .artist-name-list {
    width: 70%;
  }
}

/* line 279, ../sass/_playlist.scss */
.song-time {
  float: right;
  font-size: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-right: 12.6px;
}

/* iScroll Plugin Styling */
/* line 296, ../sass/_playlist.scss */
#wrapper {
  position: relative;
  overflow: hidden;
  /* Prevent native touch events on Windows */
  -ms-touch-action: none;
  /* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Prevent text resize on orientation change, useful for web-apps */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
@media (orientation: portrait) {
  /* line 296, ../sass/_playlist.scss */
  #wrapper {
    width: 100%;
    height: 615px;
  }
}
@media (orientation: landscape) {
  /* line 296, ../sass/_playlist.scss */
  #wrapper {
    max-height: 900px;
    min-height: 400px;
    height: 90vh;
    width: 100%;
    float: right;
    top: -22px;
  }
}

/* line 346, ../sass/_playlist.scss */
#scroller {
  position: absolute;
  /* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Put the scroller into the HW Compositing layer right from the start */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 360, ../sass/_playlist.scss */
li {
  list-style-type: none;
}

/* line 1, ../sass/_login.scss */
.login {
  text-align: center;
  margin-top: 20%;
  font-family: 'Open Sans', Sans;
  font-size: 36px;
}

/* line 9, ../sass/_login.scss */
.login > h1 {
  margin-bottom: 20px;
}

/* line 14, ../sass/_login.scss */
.loginlink {
  margin-top: 100px;
  text-decoration: none;
  font-size: 24px;
}

/* line 2, ../sass/_sidescreen.scss */
body.visual {
  cursor: none;
  background-color: white;
  overflow: hidden;
  margin: 0px;
}

/* line 2, ../sass/themes/_blue.scss */
div.color {
  background-color: #4dd0e1;
}

/* line 8, ../sass/themes/_blue.scss */
.main-music-information > h1 {
  font-family: 'Open Sans';
  font-weight: bold;
}

/* line 22, ../sass/themes/_blue.scss */
.playlist_line {
  color: #eaf0f0;
}

/* line 26, ../sass/themes/_blue.scss */
.song {
  border-bottom: #eaf0f0 1px solid;
}

/* line 30, ../sass/themes/_blue.scss */
.song-number {
  color: #bfc2c3;
}

/* line 34, ../sass/themes/_blue.scss */
.song-name-list {
  color: #afb1b2;
}

/* line 38, ../sass/themes/_blue.scss */
.artist-name-list {
  color: #424242;
}

/* line 43, ../sass/themes/_blue.scss */
.song-time {
  color: #959ea3;
}

/* line 48, ../sass/themes/_blue.scss */
.song-playing-icon {
  color: transparent;
}
