$dark-grey:	#586e75;
$light-grey:	#93a1a1;

//Dark Color Scheme
$artwork-background-color: 			#002b36;
$app-background-color:					#073642;

$main-music-information-color:	$light-grey;

$icons-color: 									$light-grey;
$icons-active-color:						#fdf6e3;

$playlist-song-number-color: 		$dark-grey;
$playlist-song-title-color: 		$light-grey;
$playlist-song-album-color: 		$dark-grey;
$playlist-song-time-color: 			$dark-grey;
$playlist-song-line-color: 			$dark-grey;

body.dark-theme {
	@import "../theme";
}

