//Dark Color Scheme
$artwork-background-color: 			#000;
$app-background-color:					#161616;

$main-music-information-color:	#636363;

$icons-color: 									#fff;
$icons-active-color:						green;

$playlist-song-number-color: 		#636363;
$playlist-song-title-color: 		#3f3f3f;
$playlist-song-album-color: 		#636363;
$playlist-song-time-color: 			#636363;
$playlist-song-line-color: 			#3f3f3f;

body.dark-theme {
	@import "../theme";
}

