<!DOCTYPE html>
<html>

	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head> 

	<body> 
		
		<div class="entirescreen"> 
			<div class="color"> 
				<img class="shadow" src="components/shadow.png"> 
			</div> 	

			<div class="usablescreen"> 	
				<div class="main-album-art"> 
					<img class="art" src="">
				</div> 
			

				<div class="main-music-information"> 
					<h1 class="main-track"> Song Name </h1> 
					<h2 class="main-artist"> Artist </h2> 
					<h6 class="main-position"> Time </h6> 
				</div> 

				<div class="music-buttons-total">
				<!-- Play, Shuffle, Fast Foward --> 
					<div class="button-container-ppreff">

						<div class="music-button-container"> 
							<button class="rewind"></button>
						</div> 

						<div class="music-button-container"> 
							<button class="play"></button> 
						</div> 

						<div class="music-button-container">
						 	<button class="fastforward"></button>
					 	</div> 

					 </div> 

					
					
						<div>
							<button class="shuffle-container shuffle"></button>  
						</div> 
						
				</div> 



				<div class="playlist">
					<div id="wrapper"> 
						<div class="scroller"> 
							<ul class="playlist-content">
								<!--  content coming from an underscore template -->
					    	</ul> 
					    </div> 	
			    	</div> 	
				</div>
			</div> 
		</div>
		<div id="apiswf"></div>

		<script type="text/template" class="playlist-item-tpl">
			<li id="r">
				<article class="song"> 
					<section class="song-number">
						<%= soundOrder %>
					</section> 
					<section class="song-thumbnail"> 
						<img src="<%= iconUrl %>">
					</section>
					<section class="song-name-artist-container">  
						<h5 class="artist-name-list"> <%= songName %> </h5>
						<h3 class="song-name-list"> <%= artistName %> - <%= albumeName %></h3>

					</section> 
					<section class="song-time"> 
						<h6 class="time"> <%= songTime %> </h6> 
				</article>
			</li> 
		</script>
		
		<script src="http://localhost:9001/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/iscroll/build/iscroll.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
		<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
	    <script type="text/javascript" src="js/jukebox-rdio-controller.js"></script>
	    <script type="text/javascript" src="js/jukebox-view.js"></script>
	    <script type="text/javascript" src="js/jukebox-render.js"></script>


	</body>
</html> 