@function album-art-margins ($usable-width, $main-album-art-width-and-height){
@return(($usable-width - $main-album-art-width-and-height) / 2);

};


//playing album art and song information 
$main-album-art-width-and-height:599px;
$music-information-margin:43px;

$shadow-width:800px;

$main-song-font-size:38px;
$main-artist-font-size:30px;
$main-album-title-font-size:24px;

//for when songs are incredibly long and don't fit inside their container
$negative-margins-long-song:-100px;
30

div.color{
	
	//  @media (height:1920px){
	// 	position:absolute;
	// 	top:-0px;
	// 	height:665px;
	// 	width:$width-entire;
	// 	z-index:-1;
	// }

	background-color: #4dd0e1; 

	@media (orientation:landscape){
	 	display:none;
  
  }

  @media (orientation:portrait){
  		position:absolute;
		top:-0px;
		height:34.63%;
		width:100%;
		z-index:-1;

  }


}

.color > svg{
	//  @media (height:1920px){
	// 	top:628px;
	// 	position:absolute;
	// 	transform-origin:50% 0%;
	// 	margin-left:141px;
	// }

	 @media (orientation:landscape){
	 	display:none;
  
  }

   @media (orientation:portrait){
		top:32.7%;
		position:absolute;
		transform-origin:50% 0%;
		margin-left:13.05%;
		width:73.27%;
		display:none;
	}
}


div.main-album-art{
	// @media (height:1920px){
	// 	height:$main-album-art-width-and-height;
	// 	width:$main-album-art-width-and-height;
	// }

	@media (orientation:portrait){
	display:block;
	height:31.19%;
	margin-left:auto;
	margin-right:auto;
		
	}

	 @media (orientation:landscape){
	 		 	
  		
  	}
	
}



.main-album-art > img{
	// @media (height:1920px){
	// margin-left:album-art-margins($usable-width, $main-album-art-width-and-height);
	// margin-right:album-art-margins($usable-width, $main-album-art-width-and-height);
	// }

	

	@media (orientation:landscape){
		width:70%;
		margin-left:15%;
		margin-right:15%;
		margin-bottom:3%;	
	}

	@media (orientation:portrait){
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:82.5%;
	}

}

div.main-music-information{
		text-align:center;
		position:relative;
		z-index:1;
		pointer-events:none;

	// @media (height:1920px){
	// 	margin-top:$music-information-margin;
	// 	margin-bottom:$music-information-margin;
	
	// }	

	@media (orientation:portrait){
		margin-top:2.76%;
		margin-bottom:2.76%;
	
	}	
	@media (orientation:landscape){
		margin-bottom:2%;
  	
  	}

}

.main-music-information > h1{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	position:relative;
	z-index:200;
	margin-bottom:4px;
	

	@media (orientation:portrait){

	margin-left:$negative-margins-long-song;
	margin-right:$negative-margins-long-song;
	font-size:5.2vw;
	
  	}


	// @media (height:1920px){
	// height:3.2%;
	// margin-left:$negative-margins-long-song;
	// margin-right:$negative-margins-long-song;
	// font-size:$main-song-font-size;
 //  	}

	@media (orientation:landscape){
	font-size:3vh;
	margin-bottom:5px;
  
  	}


}

.main-music-information > h2{

	

	// @media (height:1920px){
	// font-size:$main-artist-font-size;
	// margin-bottom:12px;
  
 //  	}

  	@media (orientation:landscape){
	font-size:2.5vh;
	margin-bottom:5px;
  
  	}
	
	@media (orientation:portrait){
	font-size:4.1vw;
	margin-bottom:0.76%;
  
  	}
}

.main-music-information > h6{

	
 //  	@media (height:1920px){
	// font-size:$main-album-title-font-size;
 //  	}
	
	@media (orientation:landscape){
	font-size:2vh;
  
  	}

  	@media (orientation:portrait){
	font-size:$main-album-title-font-size;
  	}
}



