@function song-width ($usable-width, $song-padding){
 @return($usable-width - 2 * $song-padding);
};

$playlist-height:615px;
$playlist-top-margin:20px;

//individual song and playlist information 
$song-information-margin-left:20px;
$song-padding:0px;
$song-number-width:40px;
$song-number-margin-left:8px;

$song-name-artist-container-vertical-margin:27px;
$song-name-artist-container-width:500px;
// derived by using total computed height of song/artist container via chrome computed and then subtracted and divided by two from the song height variable.

$artwork-thumbnail:70px;
$artwork-thumbnail-margin-vertical:22px;


$artist-name-margin-top:16px;
$song-time-margin-right:12.6px;

$font-size-song:20px;
$font-size-song-album:17px;

$song-height:110px;
$song-number-height:20px;


//Color Scheme
$playlist-song-number-color:#bfc2c3;
$playlist-song-title-color:#424242;
$playlist-song-album-color:#afb1b2;
$playlist-song-time-color:#959ea3;
$playlist-song-line-color:#eaf0f0;


@function song-number-margin-vertical ($song-height, $song-number-height) {
	@return(($song-height - $song-number-height) / 2);
}
$song-number-margin-vertical: song-number-margin-vertical($song-height, $song-number-height);
/*Song and playlist information */ 

.playlist{
	position:absolute;
	overflow-y:auto;
  	overflow-x:hidden;
	width:105%;
	height:$playlist-height;
	margin-top:$playlist-top-margin;
	font-size:$font-size-song;
}
.playlist_line{
	position:relative;
	top:29px;
	color:$playlist-song-line-color;
	height:1px;
	border-style:solid;
	border-bottom-width:0px;
	border-right-width:0px;
	border-left-width:0px;

	}

#overlay {
    display: inline-block;
    position: relative;
}

#overlay::after {
        background-image: -webkit-linear-gradient( top, 
            rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
    content: " ";
    height: 5%;
    top: 95%;
    position: absolute;
    width: 100%;
    z-index:1000;

}

.song{
	width:song-width($usable-width,$song-padding);
	height:$song-height;
	padding:$song-padding;
	border-bottom:$playlist-song-line-color 1px solid;
}

.song-number{
	text-align:left;
	width:$song-number-width;
	height:$song-number-height;
	display:inline-block;
	position:relative;
	top:-50px;  
	z-index:1;
	margin-top:$song-number-margin-vertical;
	margin-bottom:$song-number-margin-vertical;
	margin-left:$song-number-margin-left;
	color:$playlist-song-number-color;
}

.song-playing-icon{
	display:inline-block;
	position:relative;
	background-image:image-url('speaker-icon.png');
	background-repeat:no-repeat;
	z-index:2;
	color:transparent;
}

.song-thumbnail{
	height:$artwork-thumbnail;
	width:$artwork-thumbnail;
	display:inline;
	position:relative;
}

.song-thumbnail > img{
	height:$artwork-thumbnail;
	width:$artwork-thumbnail;
	margin-top:$artwork-thumbnail-margin-vertical;
	margin-bottom:$artwork-thumbnail-margin-vertical;
}


.song-name-artist-container{
	display:inline-block;  
	margin-top:$song-name-artist-container-vertical-margin;
	margin-bottom:$song-name-artist-container-vertical-margin;
	position:absolute;
	margin-left:$song-information-margin-left;
	text-overflow:ellipsis;
	width:$song-name-artist-container-width;
	
}

.song-name-list{
	margin-top:$artist-name-margin-top;
	color:$playlist-song-album-color;
	font-size:$font-size-song-album;
	
}

.artist-name-list{
	color:$playlist-song-title-color;
	text-overflow:ellipsis;
	width:$song-name-artist-container-width;
	height:22px;
	white-space:nowrap;
	display:block;
	overflow:hidden;



}


.song-time{

	color:$playlist-song-time-color;
	float:right;
	height:$song-number-height;
	display:inline-block;
	position:relative; 
	z-index:1;
	margin-top:$song-number-margin-vertical;
	margin-bottom:$song-number-margin-vertical;
	margin-right:$song-time-margin-right;
	
}


/* iScroll Plugin Styling */ 

#wrapper {
	position:relative;
	width:$usable-width;
	height:$playlist-height;
	overflow: hidden;

	
	/* Prevent native touch events on Windows */
	-ms-touch-action: none;

	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;


}

#scroller {
	position: absolute;

	/* Prevent elements to be highlighted on tap */
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	/* Put the scroller into the HW Compositing layer right from the start */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

li{
	list-style-type:none;
}
