@import "compass";
@import "compass/reset";


@function usable-width ($width-entire, $margin-horizontal){
 @return($width-entire - (2*$margin-horizontal));
};



$width-entire: 1080px;
$height-entire: 1920px;

$margin-horizontal: 245px;
$margin-vertical: 150px;

$button-width-and-height: 100px;

$shuffle-width: 50px;
$shuffle-height:20px;

$artwork-thumbnail: 100px;
$music-information-height:150px;

$playlist-height:600px;

/* For the containers holding the buttons, which properly space them */ 

$control-width: usable-width($width-entire, $margin-horizontal) / 3.05 ; 
$margin-left-button: ($control-width - $button-width-and-height) / 2.0 ;


.entirescreen{
width:$width-entire;
height:$height-entire;
border:solid 10px black;
position:relative;
font-family:georgia;

}

h1{
	font-size:2em;
}
h2{
	font-size:1.25em;
}
h6{
	font-size:0.75em;
}

div.usablescreen{
position:absolute;
margin-bottom: $margin-vertical;
margin-top: $margin-vertical;
margin-right: $margin-horizontal;
margin-left: $margin-horizontal;
width: usable-width($width-entire, $margin-horizontal);
height: 1600px;

background-color:white;
overflow:hidden;

}

div.albumart{
height:usable-width($width-entire, $margin-horizontal);
width:usable-width($width-entire, $margin-horizontal);
}

#art{
width:usable-width($width-entire, $margin-horizontal);
height:usable-width($width-entire, $margin-horizontal);
}

div.music-information{
text-align:center;
height:$music-information-height;
	
}

/*The following contains styling on all buttons including size, spacing, and position. */


div.music-buttons{
position:absolute;
height: $button-width-and-height + $shuffle-height;
}



.control{
width: $control-width;
height:$button-width-and-height;
margin-top:5px;
margin-bottom:5px;
display:inline-block;
}



button.clickme{
	width:$button-width-and-height;
	height:$button-width-and-height;
	margin-left: $margin-left-button;
	position:absolute;

}

/* To properly align the shuffle button in the middle of the screen. Variable shuffle margins is equal to the usable width function */ 
$usable-width: usable-width($width-entire, $margin-horizontal); 
$margin-shuffle: ($usable-width - $shuffle-width) / 2.0 ;

.shuffle{
	width:$shuffle-width;
	height:$shuffle-height;
	position:absolute;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:$margin-shuffle;
	margin-right:$margin-shuffle; 
}




.shuffleline{
	
	height:$shuffle-height + 10px;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	
}

/*toggle styles for JS */ 

.shuffleclick{
	width:$shuffle-width;
	height:$shuffle-height;
	position:absolute;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:$margin-shuffle;
	margin-right:$margin-shuffle; 

	background-color:black;
	opacity:0.5;

}

button.playclick{
	width:$button-width-and-height;
	height:$button-width-and-height;
	margin-left: $margin-left-button;
	position:absolute;
	opacity:0.5;
	background-color:black;

}



/*Song and playlist information */ 

.playlist{
	position:absolute;
	overflow-y:auto;
  	overflow-x:hidden;
	width:105%;
	height:$playlist-height;
	margin-top:250px;
}



.song{
  background-color:white;
  width:100%;
  border-bottom:solid 1px black;
  margin-top:10px;
  margin-bottom:10px;
}

#number{
width:30px;
height:100%;
display:inline;
position:relative;
top:-50px;  



}

#thumbnail{
  height:$artwork-thumbnail;
  width:$artwork-thumbnail;
  display:inline;
  position:relative;
 
}

#miniartwork{
  height:$artwork-thumbnail;
  width:$artwork-thumbnail;
  margin-bottom:10px;  
}


.song-name-artist{
display:inline;  
height: $artwork-thumbnail;
position:absolute;
padding:5px;
}

.time{
display:inline;
float:right;
margin-right:30px;
height: $artwork-thumbnail;  
position:relative; 
}
